---
layout: default
---

<header class="page-header" role="banner">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    <a href="{{ site.grapal_browser_url }}" class="btn">Explore GrapAL</a>
    <a href="{{ site.paper_url }}" class="btn">Read the Paper</a>
    <a href="{{ site.demo_url }}" class="btn">Watch the Demo</a>
</header>
<main id="content" class="main-content" role="main">
  {{ content }}
  {% include site-header.html %}
</main>